---
layout: default
section_id: about
skills:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61

members:
  - name: Mark Wayne
    position: founder
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Kate Holms
    position: Creative Director
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-2.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Tom Hason
    position: Designer
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-3.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
  - name: Lily Whrem
    position: Developer
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-4.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
---

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>About Us</h3>
      <div class='spacing'></div>
      <p><b>Shekinah Media Europe</b> is part of Shekinah Ministries, a Lay Catholic Evangelical 
        movement founded in the State of Kerala, India in the Great Jubilee Year of 2000 
        AD. ‘SHEKINAH’ is a Hebrew word meaning the ‘Glorious Presence of God' and this  Ministry
        stands for bringing the glorious presence of Christ to this world in all the possible ways we can.
        Perhaps the most ambitious and challenging mission that we have taken up 
        for the Lord and His Church is the <b>Shekinah Televion</b>, a satellite channel based in India 
        which is available through different platforms all over the world.
        </p><p><b>Shekinah Europe</b> is our new initiative for the  whole
        Europe and around the world. Our motto is to be the “Face of Jesus and Voice of Church”. The sole 
        aim of this Channel is to reveal God’s intervention through current affairs and form dedicated souls 
        for Lord and the Church, with the power of the Holy Spirit. In an era when majority of the multi media is engaged in spreading negativity by creating distorted, biased and manipulated stories to promote their own selfish goal,  by anchoring on positivity, we wish to 
        heighten the ‘hope-level’ of our viewers by revealing the rainbow beyond the dark clouds. In short, 
        our programmes will be inspiring than entertaining, empowering than exciting, redeeming than refreshing.</p>
      
    </div>
   <!--Shekinah Customizaiton Start-->
   <div class='medium-6 columns'>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <img src="images/shekinah/office_india.jpeg"
      </div>
    </div> 
  </div>
</div>
<div class='two spacing'></div>
     <!--<div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class="bars">
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> 
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>The team</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
 
</div>
 -->
    <!--Shekinah Customizaiton Ends-->
<div class='three spacing'></div>
